/*
* {
  border: solid red 1px;
}
*/

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list {
  text-align: left;
  width: 20%;
}

.image {
  text-align: center;
  width: 80%;
}

.image img {
  display: block;
  margin: auto;
  cursor: pointer;
  width: 100%;
}
