/*
* {
  border: solid red 1px;
}
*/

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image {
  text-align: center;
  width: 100%;
}

.image img {
  display: block;
  margin: auto;
  cursor: pointer;
  width: 50%;
}
