* {
	outline: red solid 1px;
}
body {
	font-family: Lato, sans-serif;
}

._logo{
	margin-top: 20px;
}

@media screen and (max-width: 321px) {
	._name {
		font-size: 26px;
	}
	._motto {
		font-size: 13px;
	}
}

